
<mat-toolbar color="primary">

<mat-toolbar-row>
     <i class="material-icons">shopping_cart</i>

  <span>Product Details</span>

  <span class="example-spacer"></span>

  
<a>
  <mat-icon class="example-icon" style="color:white;">add_circle</mat-icon>
</a>


<a>
  <mat-icon class="example-icon" style="color:white;">mode_edit</mat-icon>
</a>

<a>
  <mat-icon class="example-icon" style="color:white;">delete</mat-icon>
</a>


</mat-toolbar-row>


</mat-toolbar>


<mat-tab-group class="mat-drawer-content">
  <mat-tab label="Product Details"> 


    <form class="example-form">

      <table class="example-full-width2" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width2">
          <input matInput placeholder="Source Id">
        </mat-form-field></td>
 
       
        <td><mat-form-field class="example-full-width2">
          <input matInput placeholder="Name">
        </mat-form-field></td>
    
       
        <td><mat-form-field class="example-full-width2">
          <input matInput placeholder="Price">
        </mat-form-field></td>
     
        
      </tr>
    </table>


      </form>

      <br>
 
      <mat-toolbar color="primary">

        <mat-toolbar-row>
              <i class="material-icons">reorder</i>
   
           <span> SKUs
          </span>
       
           <span class="example-spacer"></span>
       
    
         </mat-toolbar-row>
        </mat-toolbar>

    <table class="example-full-width2" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Sku Name">
      </mat-form-field></td>

     
      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Sku Id">
      </mat-form-field></td>
  
     
      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Sku Price">
      </mat-form-field></td>
   
      
    </tr>
  </table>
 
  <table class="example-full-width2" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Color">
    </mat-form-field></td>

    
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Memory">
    </mat-form-field></td>

    
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Sku Price">
    </mat-form-field></td>
 
    
  </tr>
</table>

<div class="button-row">
  <button mat-raised-button color="primary">Save</button>

      <button mat-raised-button color="accent" ng-click="clicked()">Cancel</button>
    
    </div>

</mat-tab>

</mat-tab-group>