<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create A New Customer</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" name="name" formControlName="name" #name>

      </mat-form-field>

      <mat-form-field class="field-full-width">
               <input matInput placeholder="email" name="email" formControlName="email" #email>


      </mat-form-field>


      <mat-form-field class="field-full-width">
       <input matInput placeholder="phone" name="phone" formControlName="phone" #phone>


      </mat-form-field>
     
     
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/campaigns">Back</button>&nbsp;
      <button mat-raised-button (click)="addCustomers(name.value, email.value,phone.value)" [disabled]="createForm.pristine || createForm.invalid" class="btn btn-primary">Create Customers</button>

    </form>
  </mat-card>
</div>