<br>
<mat-toolbar color="primary" class="toolbarrow">
  <mat-toolbar-row>
    <mat-icon>create</mat-icon>
    <span>Create a new Products</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
            
            <span><b>Product Details</b></span></h3></div>
    </mat-expansion-panel-header>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Define name for your product *" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Define source id of your product" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Define price of your product" required>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
              
              <span><b>Product attributes</b></span></h3></div>
    </mat-expansion-panel-header>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Start typing and hit enter to add" required>
    </mat-form-field>
    <br>
    <br>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
                
                <span><b>Product Metadata (Optional)</b></span></h3></div>
    </mat-expansion-panel-header>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Key" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Value" required>
    </mat-form-field>
    <br>
  </mat-expansion-panel>
  <br>
  <br>
  <br>
  <div class="button-row">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="accent">Cancel</button>
  </div>
</mat-accordion>
