<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="voucherCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.voucherCode}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="voucherType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type
    </th>
    <td mat-cell *matCellDef="let element"> {{element.voucherType}} </td>
    
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="compaign">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list #chipList >
      <mat-chip >
        {{element.compaign}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category
    </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
    <td mat-cell *matCellDef="let element"> 
      <!-- <mat-slide-toggle [checked]="checked"></mat-slide-toggle>  -->
    </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy'}} </td>
  </ng-container>
  <!-- Active Column -->
  <ng-container>
    <th mat-header-cell *matHeaderCellDef>Active
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-slide-toggle (change)="onChange($event)" [(ngModel)]="device[i]" (click)="onActiveHomeboxP(item.homeboxpackage_id)">
      </mat-slide-toggle>
      {{item.active}}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
