<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"> RuleEngine</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/my-dashboard">Dashboard</a>
        <mat-divider></mat-divider>
  <a mat-list-item href="/app-vouchers">Vouchers</a>
  <mat-divider></mat-divider>
  <a mat-list-item href="/app-customerdetails">Campaigns</a>
        <mat-divider></mat-divider>
          <a mat-list-item href="/app-productdetails">Distributions</a>
        <mat-divider></mat-divider>
          <a mat-list-item href="/app-redemptions">Redemptions</a>
        <mat-divider></mat-divider>
         <a mat-list-item href="/app-customers">Customers</a>
        <mat-divider></mat-divider>

    

      <a mat-list-item href="/app-products">Products</a>
        <mat-divider></mat-divider>

      <a mat-list-item href="/app-orders">Orders</a>
        <mat-divider></mat-divider>

    </mat-nav-list>

    
  </mat-sidenav>
  
  
  <mat-sidenav-content>


    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rewardx Voucher Rule Engine</span>
    </mat-toolbar>

<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
