<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Update Products</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm1" class="edit-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Enter Name" formControlName="pname" #pname>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Enter price" formControlName="price" #price>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <textarea matInput placeholder="pid" formControlName="pid" #pid></textarea>
        </mat-form-field>
    
       

        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/Distributions">Back</button>&nbsp;
        <button mat-raised-button (click)="UpdateProducts(pname.value, price.value,pid.value)" [disabled]="updateForm1.pristine || updateForm1.invalid" class="btn btn-primary">Update Customers</button>

      </form>
    </mat-card>
  </div>