.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
b,strong{
  font-weight:300 !important;
}
.mat-expansion-panel {
  background: #fff;
  color: rgba(0, 0, 0, .87);
}

.card-class:hover {
  background-color: #00000024
}

.example-card {
  max-width: 200px;
}

.activeProductDetails {
  background-color: #673ab7bd;
  color: white;
}

.expansionHeader{
  background-color:#dcdcdc;
}

.step-text {
  font-size: 15px;
  font-weight: bold;
}

.productIcons {
  font-size: 35px;
  margin-top: 7px;
  color: gray;
}

.activeProductIcons {
  color: white;
}

.card-class {
  width: 100%;
  border: 1px solid lightgray;
  text-align: center;
  margin-right: 20px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(52, 180, 172);
  color: rgba(0, 0, 0, 0.87);
}

md-toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 20px;
  min-height: 64px;
  width: 100%;
}






#toggleMessage {
  width: 200px;
  height: 100px;
  font-size: 30px;
}

#box {
  width: 1197px;
  height: 569px;
  background-color: lightgray;
  margin-top: 10px;
}




/*The following styling isn't needed.  Just for aesthetics.*/


/* Found at css-tricks.com Centering the Unknown */


/* The ghost, nudged to maintain perfect centering */


/* The element to be centered, can
   also be of any width and height */

.b {
  width: 213px;
  height: 200px;
  font-size: 21px;
  margin-left: 75px;

  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  white-space: normal;
  transition: all .5s ease;
  flex-direction: row;
}

.b:hover {
  background-color: #4CAF50;
  color: white;
}

a:active {
  color: red;
}


.hideme {
  background-color: lime;
}

br {
  clear: both;
}


.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 45px 61px 10px 484px;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.toolbarrow
  {
    margin: 40px 10px 80px 0px;

  }