<mat-toolbar color="primary" class="toolbarrow">
  <mat-toolbar-row>
    <mat-icon>create</mat-icon>
    <span>Create a new campaign</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" style="border:1px solid lightgray;">
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h4><span class="step-indicator" style="margin:0px;"></span>
          <span><b>Product Details</b></span>
        </h4>
      </div>
    </mat-expansion-panel-header>
    <div class="row" style="display:inline-flex;margin-top:23px;margin-bottom:20px;">
      <div class="col-md-3" class="card-class" (click)="onSelectType(0,'Bulk codes')" [ngClass]="{
    'activeProductDetails':productSelectedIndex === 0}">
        <mat-icon class="example-icon productIcons" [ngClass]="{
    'activeProductIcons':productSelectedIndex === 0}">format_list_bulleted</mat-icon>
        <p class="step-text">Bulk codes</p>
        <p>Lorem is a simplly dummy text of the printing industry</p>
      </div>
      <div class="col-md-3" class="card-class" (click)="onSelectType(1, 'Standalone code')" [ngClass]="{
    'activeProductDetails':productSelectedIndex === 1}">
        <mat-icon class="example-icon productIcons" [ngClass]="{
    'activeProductIcons':productSelectedIndex === 1}">redeem</mat-icon>
        <p class="step-text">Standalone code</p>
        <p>Lorem is a simplly dummy text of the printing industry</p>
      </div>
      <div class="col-md-3" class="card-class" (click)="onSelectType(2, 'Referral program')" [ngClass]="{
    'activeProductDetails':productSelectedIndex === 2}">
        <mat-icon class="example-icon productIcons" [ngClass]="{
    'activeProductIcons':productSelectedIndex === 2}">record_voice_over</mat-icon>
        <p class="step-text">Referral program</p>
        <p>Lorem is a simplly dummy text of the printing industry</p>
      </div>
      <div class="col-md-3" class="card-class" (click)="onSelectType(3, 'Promotion')" [ngClass]="{
    'activeProductDetails':productSelectedIndex === 3}">
        <mat-icon class="example-icon productIcons" [ngClass]="{
    'activeProductIcons':productSelectedIndex === 3}">add_shopping_cart</mat-icon>
        <p class="step-text">Promotion</p>
        <p>Lorem is a simplly dummy text of the printing industry</p>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="openRelatedOptions == 0 || openRelatedOptions == 1 || openRelatedOptions == 2 " style="border:1px solid lightgray;">
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
                  <span><b>{{voucherTypeTitle}}</b></span></h3></div>
    </mat-expansion-panel-header>
    <div class="row" style="display:inline-flex;">
      <div class="col-md-6" class="card-class" ng-class="" (click)="onChooseVoucherType('Discount',0)" [ngClass]="{
    'activeProductDetails':voucherTypeSelectedIndex === 0}">
        <mat-icon class="voucher-type-icon ng-scope ng-isolate-scope md-default-theme material-icons">monetization_on</mat-icon>
        <h3 class="voucher-type-header ng-scope">Discount voucher</h3>
        <div class="voucher-type-description ng-scope">
          <p>Discount coupon - represents one of 3 discount types:
            <br><b>amount</b> <i class="ng-binding">($10.00 off)</i>, <b>percentage</b> <i>(20% off)</i>, or <b>unit</b> <i>(2 piano lessons)</i>.
            <br>Redeemable once or multiple times.</p>
        </div>
        <div class="md-ripple-container"></div>
      </div>
      <div class="col-md-6" class="card-class" (click)="onChooseVoucherType('Gift',1)" [ngClass]="{
    'activeProductDetails':voucherTypeSelectedIndex === 1}">
        <mat-icon class="voucher-type-icon ng-scope ng-isolate-scope md-default-theme material-icons">monetization_on</mat-icon>
        <h3 class="voucher-type-header ng-scope">Gift voucher</h3>
        <div class="voucher-type-description ng-scope">
          <p>Discount coupon - represents one of 3 discount types:
            <b>amount</b> <i class="ng-binding">($10.00 off)</i>, <b>percentage</b> <i>(20% off)</i>, or <b>unit</b> <i>(2 piano lessons)</i>. Redeemable once or multiple times.</p>
        </div>
        <div class="md-ripple-container"></div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field *ngIf="voucherType == 'Discount'" style="width:100%;margin-top:10px;">
          <mat-select placeholder="Define your discount type" disableRipple [(ngModel)]="discountType">
            <mat-option value="Amount">Amount</mat-option>
            <mat-option value="Percent">Percent</mat-option>
            <mat-option value="Unit">Unit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field style="margin-right:30px;width:100%;" *ngIf="voucherType == 'Discount'">
          <input matInput placeholder="Put your discount voucher value" [(ngModel)]="discountVoucherValue">
          <span matSuffix>USD</span>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="display:inline-flex;width:100%">
      <div class="col-sm-6" style="width:100%">
        <mat-form-field style="margin-right:30px;width:100%;" *ngIf="discountType == 'Percent'">
          <input matInput placeholder="Put your discount voucher value" [(ngModel)]="discountVoucherValue">
           <span matSuffix>USD</span>
        </mat-form-field>
      </div>
      <div class="col-sm-6" style="width:100%">
        <mat-form-field style="margin-right:30px;width:100%;" *ngIf="discountType == 'Percent'">
          <input matInput placeholder="Upper value of discount" [(ngModel)]="discountVoucherValue">
          <span matPrefix>%&nbsp;</span>
        </mat-form-field>
      </div>
    </div>
    <!--  <div class="row">
      <div class="col-sm-6" style="width:50%;">
        <mat-form-field style="margin-right:30px;" *ngIf="discountType == 'Discount'">
          <input matInput placeholder="Put your discount voucher value1" [(ngModel)]="discountVoucherValue">
        </mat-form-field>
      </div>
      <div class="col-sm-6" style="width:50%;">
        <mat-form-field style="margin-right:30px;" *ngIf="voucherType == 'Discount'">
          <input matInput placeholder="Put your discount voucher value2" [(ngModel)]="discountVoucherValue">
        </mat-form-field>
      </div>
    </div> -->
    <mat-form-field *ngIf="voucherType == 'Gift'" style="width:100%">
      <input matInput placeholder="Put your gift voucher value" [(ngModel)]="giftVoucherValue">
      <span matSuffix>USD</span>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="openRelatedOptions == 0 || openRelatedOptions == 2" style="border:1px solid lightgray;">
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
                  <span><b>Details</b></span></h3></div>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field style="width:100%">
          <input matInput placeholder="Define the name" [(ngModel)]="compaign">
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="display:inline-flex;width:100%">
      <div class="col-sm-6" style="width:100%">
        <mat-form-field style="width:100%">
          <input matInput type="number" min="1" placeholder="Vouchers Counts" [(ngModel)]="voucherCount">
        </mat-form-field>
      </div>
      <div class="col-sm-6" style="width:100%">
        <mat-form-field style="width:100%;">
          <input matInput min="1" placeholder="Prefix" [(ngModel)]="prefix">
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="openRelatedOptions == 1">
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
    
                    <span><b>Define Voucher code </b></span></h3></div>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Select your Vocher category"></textarea>
      </mat-form-field>
      <input matInput flex="" ng-if="" class="flex ng-scope md-default-theme md-input-invalid">
      <label for="input_134">Define your custom code or get a system generated random one by clicking a button</label>
      <input ng-model="" name="code" ng-required="voucherFormLayout" class="md-input ng-valid-duplicate ng-touched ng-dirty ng-valid-parse ng-invalid ng-invalid-required" id="input_134" required="required" aria-required="true" aria-invalid="true">
      <div ng-messages="" ng-show="generator.form.code.$touched" aria-live="assertive" class="ng-active" aria-hidden="false">
        <div ng-message="required" class="ng-scope">This is required</div>
      </div>
      <button class="md-primary md-icon-button inline-icon-button md-button ng-scope md-default-theme" aria-placeholder="Loading....." ng-transclude="" ng-click="" ng-if="voucherFormLayout">
        <mat-icon class="ng-scope ng-isolate-scope md-default-theme material-icons">refresh</mat-icon>
      </button>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Define Your custom code or get system random code " value="47FnSWf6">
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="openRelatedOptions == 0 || openRelatedOptions == 1">
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
      
                      <span><b> Limits for vouchers(Optional)</b></span></h3></div>
    </mat-expansion-panel-header>
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker1" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Expiration date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section>
      <mat-checkbox class="example-margin" disabled=true>
        <mat-label>
          Validity timeframe
        </mat-label>
      </mat-checkbox>
    </section>
    <section>
      <mat-checkbox class="example-margin1" id="trigger" [(ngModel)]="checked">
        <mat-label>
          Vouchers are active only on specific days of week
        </mat-label>
      </mat-checkbox>
    </section>
    <section>
      <mat-checkbox class="example-margin2" id="hidden_field" [(ngModel)]="checked">
        <mat-label>
          Vouchers are kept active only for the specific duration after publishing
        </mat-label>
      </mat-checkbox>
    </section>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Define voucher redemption limit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <section>
      <div class="md-toolbar-tools">
        <mat-icon class="ng-isolate-scope md-default-theme material-icons">playlist_add</mat-icon>&nbsp;
        <h3>
              Add a validation rule</h3>
        <div flex="" class="flex"></div>
      </div>
    </section>
    <!-- Test component start -->
  
    <!-- Test component end -->
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="openRelatedOptions == 3" style="border:1px solid lightgray;">
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
                  <span><b>Promotion compaign Details</b></span></h3></div>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field style="width:100%">
          <input matInput placeholder="Define the name" [(ngModel)]="compaign">
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="display:inline-flex;width:100%">
      <div class="col-sm-6" style="width:100%">
        <mat-form-field class="example-full-width" style="width:100%">
          <input matInput [matDatepicker]="picker1" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-6" style="width:100%">
        <mat-form-field style="width:100%">
          <input matInput [matDatepicker]="picker" placeholder="Expiration date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
  <div class="button-row" style="margin-top:30px;">
    <button mat-raised-button color="primary" (click)="createVoucher()">Save</button>
    <button mat-raised-button color="accent" style="margin-left:5px;">Cancel</button>
  </div>
</mat-accordion>
<script>
$(document).ready(function() {
  $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
    e.preventDefault();
    $(this).siblings('a.active').removeClass("active");
    $(this).addClass("active");
    var index = $(this).index();
    $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
    $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
  });
});

</script>
