<div class="card">
  <div class="card-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <label class="col-md-4">Name</label>
              <mat-form-field>

        <input type="text" class="form-control" name="name" formControlName="name" #name/>
              </mat-form-field>
      </div>

      <div>
        
      </div>
      <div *ngIf="createForm.controls['name'].invalid && (createForm.controls['name'].dirty || createForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="createForm.controls['name'].errors.required">
          Unit Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">phone</label>
                      <mat-form-field>

        <input type="text" class="form-control" name="phone" formControlName="phone" #phone/>
                      </mat-form-field>
      </div>
      <div *ngIf="createForm.controls['phone'].invalid && (createForm.controls['phone'].dirty || createForm.controls['phone'].touched)" class="alert alert-danger">
        <div *ngIf="createForm.controls['phone'].errors.required">
          Unit Price is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addCustomers(name.value, phone.value)" [disabled]="createForm.pristine || createForm.invalid" class="btn btn-primary">Create Unit</button>
      </div>
    </form>
  </div>
</div>
