<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Update Customer</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Enter Name" formControlName="name" #name>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Enter Email" formControlName="email" #email>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <textarea matInput placeholder="phone" formControlName="phone" #phone></textarea>
        </mat-form-field>
    
       

        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/campaigns">Back</button>&nbsp;
        <button mat-raised-button (click)="UpdateCustomers(name.value, email.value,phone.value)" [disabled]="updateForm.pristine || updateForm.invalid" class="btn btn-primary">Update Customers</button>

      </form>
    </mat-card>
  </div>