<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<mat-toolbar color="primary">

<mat-toolbar-row>
     <i class="material-icons">redeem</i>

  <span> Redeem Voucher
  </span>

  <span class="example-spacer"></span>


</mat-toolbar-row>


</mat-toolbar>




<mat-drawer-container class="mat-drawer-content">

  <mat-toolbar color="primary">

    <mat-toolbar-row>
          <i class="material-icons">redeem</i>
   
       <span>Vouchers</span>
   
       <span class="example-spacer"></span>
   
     </mat-toolbar-row>
    
   </mat-toolbar>

   <form class="example-form">

    <mat-form-field class="example-full-width1">
   
  
      <input matInput #message maxlength="256" placeholder="Voucher Code ">
     
    </mat-form-field>
    
   
    
      <button mat-raised-button color="primary">
        <i class="material-icons">search</i>
  
  
      </button>
  </form>


  
  <mat-toolbar color="primary">

    <mat-toolbar-row>
          <i class="material-icons">people</i>

       <span> Customer
      </span>
   
       <span class="example-spacer"></span>
   
       
   
     </mat-toolbar-row>
   
     
   </mat-toolbar>

  <br><br>
  <form class="example-form">

      <mat-form-field class="example-full-width1">
     
    
        <input matInput #message maxlength="256" placeholder="Search Customer by Id, Name,.. ">
       
      </mat-form-field>
      
     
     
        <button mat-raised-button color="primary">
          <i class="material-icons">search</i>
    
    
        </button>
    </form>
  <form class="example-form">

    <table class="example-full-width2" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Id">
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Source Id">
      </mat-form-field></td>
  
     
      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Name">
      </mat-form-field></td>
  
 
      <td><mat-form-field class="example-full-width2">
        <input matInput placeholder="Email">
      </mat-form-field></td>
     

        <td><mat-form-field class="example-full-width2">
          <input matInput placeholder="Description">
        </mat-form-field></td>
      
    </tr>
  </table>
  
  
  
    </form>


  <mat-toolbar color="primary">

    <mat-toolbar-row>
          <i class="material-icons">shopping_cart</i>
 
       <span> Order
      </span>
   
       <span class="example-spacer"></span>
   
       
   
     </mat-toolbar-row>
  
     
   </mat-toolbar>
  <br><br>

  
  <form class="example-form">

  <table class="example-full-width2" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Product">
    </mat-form-field></td>

    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Sku">
    </mat-form-field></td>

    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Quantity">
    </mat-form-field></td>

    
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Unit Price">
    </mat-form-field></td>

  </tr>
</table>



  </form>


</mat-drawer-container>
