.example-container {
    width: 1200px;
    height: 1000px;
    border: 1px solid #555;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 250%;
  }
  
  .example-full-width1{
    width: 100%;
  }

  .example-full-width2{
    width: 100%;
  }
  .button-row button,
.button-row a {
  margin-right: 8px;
}


    .mat-raised-button {
        box-sizing: border-box;
        position: relative;
      
        cursor: pointer;
        outline: 0;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;

        vertical-align: baseline;
        text-align: center;
        margin: 1px;
        margin-top: -47px;
        margin-right: -128px;
        float: right;
        min-width: 88px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 2px;
        overflow: visible;
        transform: translate3d(0,0,0);
        transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    }

    .mat-drawer-content {
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
        overflow: auto;
        margin-left: 10px;
    }
    .mat-drawer-content1 {
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
        overflow: auto;
        margin-right: 8px;
    }