
<mat-toolbar color="primary" class="toolbarrow">
  <mat-toolbar-row>
    <mat-icon>create</mat-icon>
    <span>Create a new Customers</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
            <span><b>General Details</b></span></h3></div>
    </mat-expansion-panel-header>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Name" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Define source id of your Customer" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Description" required>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
              
              <span><b>Contact Details</b></span></h3></div>
    </mat-expansion-panel-header>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Email" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Phone" required>
    </mat-form-field>
    <br>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="textheader">
      <div class="md-toolbar-tools">
        <h3><span class="step-indicator"></span>
                
                <span><b>Address</b></span></h3></div>
    </mat-expansion-panel-header>
    <br>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Address Line 1" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Address Line 2" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Postal Code" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="City" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="State" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-form">
      <input matInput placeholder="Country" required>
    </mat-form-field>
    <br>
    <br>
  </mat-expansion-panel>
  <br>
  <br>
  <br>
  <div class="button-row">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="accent" ng-click="clicked()">Cancel</button>
  </div>
</mat-accordion>
