<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create A New Product</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="name" name="pname" formControlName="pname" #pname>

      </mat-form-field>

      <mat-form-field class="field-full-width">
               <input matInput placeholder="price" name="price" formControlName="price" #price>


      </mat-form-field>


      <mat-form-field class="field-full-width">
       <input matInput placeholder="pid" name="pid" formControlName="pid" #pid>


      </mat-form-field>
     
     
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/Distributions">Back</button>&nbsp;
      <button mat-raised-button (click)="addProducts(pname.value, price.value,pid.value)" [disabled]="createForm.pristine || createForm.invalid" class="btn btn-primary">Create Customers</button>

    </form>
  </mat-card>
</div>