<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<!-- <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="create" class="nav-link" routerLinkActive="active">
          Create Ad Units
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="index" class="nav-link" routerLinkActive="active">
          All Ad Units
        </a>
      </li> 
    </ul>
  </div>
</nav> -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"> RuleEngine</mat-toolbar>
   <mat-nav-list>
        <mat-icon style="float:left" >dashboard</mat-icon>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <mat-divider></mat-divider>
     
      <mat-icon style="float:left">redeem</mat-icon>
      <a mat-list-item routerLink="voucher" routerLinkActive="active" >Vouchers</a>
    <mat-divider></mat-divider>
      <mat-icon style="float:left" >storage</mat-icon>
      <a mat-list-item routerLink="campaigns" routerLinkActive="active">Campaigns</a>
      <mat-divider></mat-divider>
      <mat-icon  style="float:left">send</mat-icon>
      <a mat-list-item routerLink="Distributions" routerLinkActive="active">Distributions</a>
      <mat-divider></mat-divider>
      <mat-icon style="float:left" >receipt</mat-icon>
      <a mat-list-item routerLink="redemptions" routerLinkActive="active">Redemptions</a>
      <mat-divider></mat-divider>
      <mat-icon style="float:left" >people</mat-icon>
      <a mat-list-item routerLink="customers" routerLinkActive="active">Customers</a>
      <mat-divider></mat-divider>
      <mat-icon style="float:left" >shopping_cart</mat-icon>
      <a mat-list-item routerLink="products" routerLinkActive="active">Products</a>
      <mat-divider></mat-divider>
     <mat-icon style="float:left" >shopping_basket</mat-icon>
      <a mat-list-item routerLink="orders" routerLinkActive="active">Orders</a>
      <mat-divider></mat-divider>
      
     
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rewardx Voucher Rule Engine</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
