<!-- <ng-template #content let-modal>
   <div class="modal-header">
     <h4 class="modal-title">Modal title</h4>
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <p>One fine body&hellip;</p>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
   </div>
   </ng-template> -->
<mat-toolbar color="primary" class="toolbarrow">
   <mat-toolbar-row>
      <i class="material-icons">redeem</i>
      <span>Vouchers</span>
      <span class="example-spacer"></span>
      <a [routerLink]="['/createVouchers']">
         <mat-icon class="example-icon" style="color:white;">add_circle</mat-icon>
      </a>
       <a [routerLink]="['/voucher']" (click)="openDialog()" matTooltip="Import CSV file" >
      <mat-icon class="example-icon" style="color:white;">file_download</mat-icon>
    </a>
      <!-- <a [routerLink]="['/createVouchers']">
         <mat-icon class="example-icon" style="color:white;">file_upload</mat-icon>
         </a>
         <a>
         <mat-icon class="example-icon" style="color:white;">file_download</mat-icon>
         </a>
         <a>
         <mat-icon class="example-icon" style="color:white;">delete</mat-icon>
         </a> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="enableSelectedVoucher()">
            <mat-icon>visibility</mat-icon>
            <span>Enable selected vouchers</span>
         </button>
         <button mat-menu-item  (click)="disabledSelectedVoucher()">
            <mat-icon>visibility_off</mat-icon>
            <span>Disable selected vouchers</span>
         </button>
      </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>
<section style="padding: 1px" class="layout-margin">
   <div>
      <mat-form-field class="example-full-width">
         <mat-select placeholder="Select Filters" flex="50" [(ngModel)]="selectedFilterType" >
            <mat-option *ngFor="let filterType of filterType" [value]="filterType" (click)="onSelectFilterType(selectedFilterType)">
            {{filterType}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>
   <div class="row" style="display:inline-flex;width:100%">
      <div class="col-sm-4" style="width:100%">
         <mat-form-field style="width:100%">
            <mat-select placeholder="Select an criteria" [(ngModel)]="selectedCriteria">
            <mat-option [value]="criteria" *ngFor="let criteria of criteria" (click)="onSelectCriteria(selectedCriteria)">{{criteria}}
            </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
      <div class="col-sm-3" style="width:100%">
         <mat-form-field style="width:100%">
            <mat-select placeholder="Select an conditions" [(ngModel)]="selecteCondition" [disabled]="notSelectedCriteria === true ">
            <mat-option *ngFor="let condition of conditionsFilter" (click)="onSelectConditions(selecteCondition)" [value]="condition">{{condition}}</mat-option>
            </mat-select>
         </mat-form-field>
      </div>
      <div class="col-sm-3" style="width:100%">
         <mat-form-field style="width:100%" *ngIf="selectedCriteria === 'Campaigns' || selectedCriteria === 'Categories' || selectedCriteria === 'Voucher type' ">
            <mat-select placeholder="Select an option" [disabled]="notSelectedCondition === true" [(ngModel)]="selectedfilter">
            <mat-option (click)="onSelectOptions(selectedfilter)" *ngFor="let filter of dynamicFilter" [value]="filter">{{filter}}</mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field style="width:100%" *ngIf="selectedCriteria === 'Redeem Quantity' || selectedCriteria === 'Start Date' || selectedCriteria === 'Expired' ">
            <input matInput placeholder="Enter Value" [(ngModel)]="values" (ngModelChange)="onEnterValue(values)">
         </mat-form-field>
         <mat-form-field *ngIf="selectedCriteria === 'Created' || selectedCriteria === 'Updated'">
            <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Choose a date" (ngModelChange)=onDateSelect(date)>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>
         <mat-form-field style="width:100%" *ngIf="selectedCriteria === 'Campaign(Filter by Status)' || selectedCriteria === 'code generation is in progess' ">
            <input matInput placeholder="Value not required" [disabled]=true>
         </mat-form-field>
      </div>
      <div class="col-sm-2" style="width:100%">
         <button mat-raised-button color="primary" (click)="onClickFilter()"[disabled] ="addFilterDisabled === true">Add Filters</button>
      </div>
   </div>
   <div class="row">
      <mat-chip-list #chipList *ngIf="selectedFilters.length > 0">
         <mat-chip *ngFor="let selectedFilters of selectedFilters;index as index" [selectable]="selectable" [removable]="removable" (removed)="removefiltet(index)">
         {{selectedFilters}}
         <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
         </mat-chip>
      </mat-chip-list>
   </div>
   <div class="row" *ngIf="showNoActiveFilterMessage === true">
      <div class="col-md-12">
         <h3 class="noActiveFilterHeader">No active filters</h3>
      </div>
   </div>
</section>
<div class="container-fluid">
   <div class="table-responsive">
      <table class="table" style="color:gray">
         <thead>
            <tr>
               <th>
                  <mat-checkbox color="primary"></mat-checkbox>
               </th>
               <th style="cursor:pointer">
                  <span (click)="orderByField('voucherCode')">Code</span>
                  <span *ngIf="orderBySelectedField === 'voucherCode' && isDesc"> 
                  <i class="material-icons">
                  arrow_downward
                  </i>
                  </span>
                  <span *ngIf="orderBySelectedField === 'voucherCode' && !isDesc">
                  <i class="material-icons">
                  arrow_upward
                  </i>
                  </span>
               </th>
               <th>Type</th>
               <th style="cursor:pointer">
                  <span (click)="orderByField('compaign')">Compaign</span>
                  <span *ngIf="orderBySelectedField === 'compaign' && isDesc"> 
                  <i class="material-icons">
                  arrow_downward
                  </i>
                  </span>
                  <span *ngIf="orderBySelectedField === 'compaign' && !isDesc">
                  <i class="material-icons">
                  arrow_upward
                  </i>
                  </span>
               </th>
               <th style="cursor:pointer">
                  <span (click)="orderByField('category')">Category</span>
                  <span *ngIf="orderBySelectedField === 'category' && isDesc"> 
                  <i class="material-icons">
                  arrow_downward
                  </i>
                  </span>
                  <span *ngIf="orderBySelectedField === 'category' && !isDesc">
                  <i class="material-icons">
                  arrow_upward
                  </i>
                  </span>
               </th>
               <th>Active</th>
               <th style="cursor:pointer">
                  <span (click)="orderByField('createdDate')">Created Date</span>
                  <span *ngIf="orderBySelectedField === 'createdDate' && isDesc"> 
                  <i class="material-icons">
                  arrow_downward
                  </i>
                  </span>
                  <span *ngIf="orderBySelectedField === 'createdDate' && !isDesc">
                  <i class="material-icons">
                  arrow_upward
                  </i>
                  </span></th>
               <th>Redemtions</th>
               <th>Actions</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let voucher of vouchersData">
               <td>
                  <mat-checkbox color="primary"  [checked]="voucher.voucherChecked"  (click)="toggleVoucherSelection(voucher);"></mat-checkbox>
               </td>
               <td>{{voucher.voucherCode}}</td>
               <td >
                  <i class="material-icons" *ngIf="voucher.voucherType === 'Discount'">
                  monetization_on
                  </i>
                  <i class="material-icons" *ngIf="voucher.voucherType === 'Gift'">
                  card_giftcard
                  </i>
               </td>
               <td>
                  <mat-chip-list #chipList >
                     <mat-chip>
                        {{voucher.compaign}}
                     </mat-chip>
                  </mat-chip-list>
               </td>
               <td>{{voucher.category}}</td>
               <td> 
                  <mat-slide-toggle
                  color="primary"
                  [checked]=voucher.active
                  [disabled]="false" (click)="enabledOrDisableSingleVoucher(voucher)">
                  </mat-slide-toggle>
               </td>
               <td>{{voucher.createdDate | date: 'dd/MM/yyyy'}}</td>
               <td>0</td>
               <td style="display:flex">
                  <i class="material-icons"style="cursor:pointer" (click)="publishVoucher(voucher)">
                  send
                  </i>
                  <i class="material-icons" style="cursor:pointer" (click)="displayVoucherQRCode(voucher)">
                  select_all
                  </i>
                  <i class="material-icons" style="cursor:pointer" (click)="deleteVoucher(voucher)">
                  delete
                  </i>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>