.example-icon {
  margin: 41px -10px 40px 16px;
}

.example-spacer {
  flex: 1 1 auto;
}


.layout-margin {

  margin: 8px;
}

.noActiveFilterHeader{
  height: 43px;
  padding-top: 15px;
  background-color: #c5c2c2;
  color: #545252;
  text-align: center;
}

mat-select-placeholder {
  margin: auto 33px 22px;

  order: 7;
}


/* new code */

.md-icon-button {
  margin: 10px 10px 10px 26px;
  height: 48px;
  min-width: 0;
  line-height: 48px;
  padding-left: 0;
  padding-right: 0;
  width: 48px;
  border-radius: 50%
}

.md-button {
  letter-spacing: .01em
}

.toolbarrow {
  margin: 40px 10px 80px 0px;
}


.example-full-width {
  margin-top: -46px;
  margin-bottom: 50px;
  width: 550px;
}

.selectwidth1 {
  margin: 10px 20px 20px 10px;
}

.selectwidth2 {

  margin: 10px 20px 20px 10px;
}

selectwidth3 {
  margin: 10px 20px 20px 10px;
}
