<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/createProducts">Create New Products</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="products">
      
      <ng-container matColumnDef="Name" >
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product"> {{product.pname}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <ng-container matColumnDef="pid">
        <th mat-header-cell *matHeaderCellDef>pid</th>
        <td mat-cell *matCellDef="let product"> {{product.pid}} </td>
      </ng-container>

       <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let product" class="mat-column-right">

          <button mat-button  color="primary" >
            <a [routerLink]="['/editProducts', product._id]" class="btn btn-primary">Edit</a>
          </button>
          <button mat-button color="warn" (click)="deleteProduct(product._id)">
          
           <a  class="btn btn-danger"  >
          Delete</a>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>