

:host {
  >.container {
      max-width: 1264px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background: none;
  }
  /deep/ {
      .mat-tab-group {
          flex-direction: row;
      }
      .mat-tab-header {
        border-bottom: none;
      }
      .mat-tab-header-pagination {
          display: none !important;
      }
      .mat-tab-labels {
          flex-direction: column;
      }
      .mat-ink-bar {
          height: 100%;
          left: 98% !important;
      }
      .mat-tab-body-wrapper {
          flex: 1 1 auto;
      }
  }
}

.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  width: 96.666667%;
}

#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
  width: 1264px;
  background-color: #ffffff;
}

#content {
  max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  box-sizing: border-box;
}

#content,
#main-content {
  &::before,
  &::after {
      content: "";
      display: table;
  }
  &::after {
      clear: both;
  }
}



:host {
    >.container {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: none;
    }
    /deep/ {
        .mat-tab-group {
            flex-direction: row;
        }
        .mat-tab-header {
          border-bottom: none;
        }
        .mat-tab-header-pagination {
            display: none !important;
        }
        .mat-tab-labels {
            flex-direction: column;
        }
        .mat-ink-bar {
            height: 100%;
            left: 98% !important;
        }
        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }

        .mat-tab-body-content {
            height: 100%;
            overflow: auto;
            margin-left: 90px;
        }


        .mat-tab-label {
            height: 48px;
            padding: 30px 4px 26px 0px !important;
            cursor: pointer;
            box-sizing: border-box;
     
            min-width: 160px;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            position: relative;
            
        }
         
          .mat-tab-label .mat-tab-label-content  {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            color:#000000;
            height: 43px;
         max-width: 142px;
            min-width: 251px;
            box-shadow: #ddd;
          font-size: 16px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: 1px ;
            background-color: #fff;
            height: 59px;
           
        }
  
  
      
        .mat-tab-label-content-active, .mat-tab-label-content:hover
        {
  background-color:blueviolet;
          color: aqua;  
  
        }
       

        
          .mat-tab-label, .mat-tab-link {
          color: rgba(41, 138, 65, 0.87);
          border: 1px solid;
          box-shadow: 5px;
          
      }
      .mat-tab-label:selected{
        min-width: 25px !important;
        padding: 5px;
           background-color:transparent;
            color:white;
            font-weight: 700;
    }
        
          .mat-tab-header-pagination {
              display: none !important;
          }
          .mat-tab-labels {
              flex-direction: column;
              
          }
          .mat-ink-bar {
              height: 100%;
              left: 98% !important;
          }
          .mat-tab-body-wrapper {
              flex: 1 1 auto;
          }
      
  


.container {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
}

#content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;
    width: 1264px;
    background-color: #ffffff;
}

#content {
    max-width: 1100px;
    width: 100%;
    background-color: #ffffff;
    padding: 24px;
    box-sizing: border-box;
}

#content,
#main-content {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}



 .hr {
   height:50px;
 }


 .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid rgb(13, 10, 48);
}




.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #ff4081;
}



.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .button-row button,
.button-row a {
  margin-right: 8px;
}



.mat-tab-body.mat-tab-body-active {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    flex-grow: 1;
    margin-left: 5px;
}

    }
}