
<div class="container" >
    <hr style="height:50px; ">
  <div id="content" >
    <div id="main-content" style="border: 1px solid rgb(13, 10, 48);">
       
      <mat-tab-group  style="border: 1px solid rgb(13, 10, 48);">
         
        <mat-tab id="mat-tab-body-content " class="active" label="Customer Segment" >
           
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-radio-button value="1"> is</mat-radio-button>

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-radio-button value="1">is not</mat-radio-button>

<br><br>


<section style="padding: 1px" class="layout-margin" >
    <form class="example-form1">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options1" [value]="options1">
              {{options1}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
    <br><br><br>
    <div class="button-row">
        <button mat-raised-button color="primary">Add A Rule</button>
        </div>
  </section>
        </mat-tab>
       
 
        <mat-tab label="Order items list (by product)" >


           
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">contains</mat-radio-button>

            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">does not contains</mat-radio-button>

            <br>

                       
<!--
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">contains less then or equal</mat-radio-button>

            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">contains more then or equal</mat-radio-button>
-->
            <br><br>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Choose Product" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            <div class="button-row">

              <button mat-raised-button color="primary">Add A Rule</button>
                </div>
        </mat-tab>
        
        <mat-tab label="Order items list, product price">

            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">is less than or equal</mat-radio-button>

            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="1">is more than or equal</mat-radio-button>

            <br><br>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Choose Product" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>

              <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Price" >
                  </mat-form-field>
              </form>
              <div class="button-row">
                  <button mat-raised-button color="primary">Add A Rule</button>
                  </div>

        </mat-tab>
          <mat-tab label="Order items list, product metadata">

              <form class="example-form">
                  <mat-form-field class="example-full-width">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input matInput placeholder="Property Name" >
                  </mat-form-field>
              </form>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">is</mat-radio-button>

              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">is not</mat-radio-button>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">in</mat-radio-button>

              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">starts with</mat-radio-button>

              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">Ends with</mat-radio-button>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">Contains</mat-radio-button>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">is less than</mat-radio-button>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">is less than or equal</mat-radio-button>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">is more than</mat-radio-button>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-radio-button value="1">is more than or equal</mat-radio-button>

              <br>
              <form class="example-form">
                  <mat-form-field class="example-full-width">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input matInput placeholder="Value" >
                  </mat-form-field>
              </form>
              <div class="button-row">
                  <button mat-raised-button color="primary">Add A Rule</button>
                  </div><br>

          </mat-tab>
            <mat-tab label="Order items list (by SKU)">

                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="1">contains</mat-radio-button>
    
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="1">does not contains</mat-radio-button>
    
                <br>
    
                           
    
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="1">contains less then or equal</mat-radio-button>
    
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="1">contains more then or equal</mat-radio-button>
    
                <br><br>
    
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Choose Product" >
                    </mat-form-field>
                </form>
    
                <div class="button-row">
                    <button mat-raised-button color="primary">Add A Rule</button>
                    </div>

            </mat-tab>


              <mat-tab label="Order items list, SKU price">

                  <br><br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="1">is less than or equal</mat-radio-button>
      
                  <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="1">is more than or equal</mat-radio-button>
      
                  <br><br>
                  <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Choose SKU" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
      
                    <form class="example-form">
                        <mat-form-field class="">
                          <input matInput placeholder="Price" >
                        </mat-form-field>

                    </form>
                    <div class="button-row">
                        <button mat-raised-button color="primary">Add A Rule</button>
                        </div>
      



              </mat-tab>

              
                <mat-tab label="Price of each order item">


                    <br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="1">is more than</mat-radio-button>
        
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="1">is exactly</mat-radio-button>
        
                    <br><br>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Choose Product" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
        
                      <form class="example-form">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Price" >
                          </mat-form-field>
                      </form>
                      <div class="button-row">
                          <button mat-raised-button color="primary">Add A Rule</button>
                          </div>
                        
                        </mat-tab>


      </mat-tab-group>
      
    </div>
  </div>
</div>

