
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-icon[_ngcontent-c8] {
      color: white;
      padding: 0 14px;
  }
  
  .layout-margin{
  
    margin: 8px;
  
  }
  
  mat-select-placeholder  {
      margin: auto 33px 22px;
     
      order: 7;
  }
  
  /* new code */
  
  .md-icon-button{margin:0 6px;height:48px;min-width:0;line-height:48px;padding-left:0;padding-right:0;width:48px;border-radius:50%}
   
  .md-button{letter-spacing:.01em}
  
  
    .toolbarrow
{
  margin: 40px 10px 80px 0px;

}
.example-icon {
  
  margin: 26px 0px 14px 16px;
  }

  .example-full-width
{
  margin-top: -46px;
margin-bottom: 50px;
    width: 550px;
}
.selectwidth1
{
  margin: 10px 20px 20px 10px;
}
.selectwidth2{

  margin: 10px 20px 20px 10px;
}
selectwidth3{
  margin: 10px 20px 20px 10px;
}
  
  