<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>




<mat-toolbar color="primary" class="toolbarrow">

<mat-toolbar-row>
     <i class="material-icons">receipt</i>

  <span>Redemptions</span>

  <span class="example-spacer"></span>
<a href="/app-redeem">
  <mat-icon class="example-icon" style="color:white;">redeem</mat-icon>
</a>

 <a>
  <mat-icon class="example-icon">file_download</mat-icon>
 </a>
</mat-toolbar-row>
</mat-toolbar>



<section style="padding: 1px" class="layout-margin">
<div>
  <mat-form-field class="example-full-width">
<mat-select placeholder="Select Filters" flex="50">
  <mat-option *ngFor="let lang of vouchvalues" [value]="lang ">
{{lang}}
  </mat-option>
</mat-select>
</mat-form-field>
</div>

<mat-form-field  class="selectwidth1">
<mat-select placeholder="Select Criteria" disableRipple>
  <mat-option value="1">Campaigns</mat-option>
  <mat-option value="2">Categories</mat-option>
  <mat-option value="3">Voucher type</mat-option>
  <mat-option value="3">Redeem Quantity</mat-option>
  <mat-option value="3">Start Date</mat-option>
  <mat-option value="3">Expired</mat-option>
  <mat-option value="3">Created</mat-option>
  <mat-option value="3">Updated</mat-option>
  <mat-option value="3">Campaign(Filter by Status)</mat-option>
  <mat-option value="3">Voucher(Filter by Status)</mat-option>

</mat-select>
</mat-form-field>

<mat-form-field class="selectwidth2">
<mat-select placeholder="Select an option" disableRipple>
  <mat-option value="1">Option 1</mat-option>
  <mat-option value="2">Option 2</mat-option>
  <mat-option value="3">Option 3</mat-option>
</mat-select>
</mat-form-field>


<mat-form-field class="selectwidth3">
<mat-select placeholder="Select an option" disableRipple>
  <mat-option value="1">Option 1</mat-option>
  <mat-option value="2">Option 2</mat-option>
  <mat-option value="3">Option 3</mat-option>
</mat-select>
</mat-form-field>
<div class="button-row">
<button mat-raised-button color="primary">Add Filters</button>

</div>

</section>


