table {
  width: 100%;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-icon[_ngcontent-c8] {
    color: white;
    padding: 0 14px;
}

.layout-margin{

  margin: 8px;

}

mat-select-placeholder  {
    margin: auto 33px 22px;
   
    order: 7;
}


.toolbarrow
  {
    margin: 40px 10px 80px 0px;

  }