.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-icon[_ngcontent-c8] {
      color: white;
      padding: 0 14px;
  }
  
  .layout-margin{
  
    margin: 8px;
  
  }
  
  mat-select-placeholder  {
      margin: auto 33px 22px;
     
      order: 7;
  }
  
  /* new code */
  
  .md-icon-button{margin:0 6px;height:48px;min-width:0;line-height:48px;padding-left:0;padding-right:0;width:48px;border-radius:50%}
   
  .md-button{letter-spacing:.01em}
  
  .mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    margin-left: 10px;
}

.example-full-width2{
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  
  
 .toolbarrow
  {
    margin: 40px 10px 80px 0px;

  }