
<mat-toolbar color="primary" class="toolbarrow">
  <mat-toolbar-row >
    <i class="material-icons">person</i> 
    <span>Customer Details</span>
    <span class="example-spacer"></span>
    <a>
      <mat-icon class="example-icon" style="color:white;">add_circle</mat-icon>
    </a>
    <a>
      <mat-icon class="example-icon" style="color:white;">mode_edit</mat-icon>
    </a>
    <a>
      <mat-icon class="example-icon" style="color:white;">delete</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group class="mat-drawer-content">
  <mat-tab label="Customer Details">
    <form class="example-form">
      <table class="example-full-width2" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Source Id">
            </mat-form-field>
          </td>
        
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Name">
            </mat-form-field>
          </td>
         
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Birthday Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width2" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Email">
            </mat-form-field>
          </td>
   
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Phone">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width2" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Address Line 1">
            </mat-form-field>
          </td>
       
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Address Line 2">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width2" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Postal Code">
            </mat-form-field>
          </td>
          
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="City">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width2" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="State">
            </mat-form-field>
          </td>
         
          <td>
            <mat-form-field class="example-full-width2">
              <input matInput placeholder="Country">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  
   
<mat-toolbar color="primary" class="toolbarrow">
      <mat-toolbar-row>
        <i class="material-icons">reorder</i> 
        <span> SKUs
          </span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <table class="example-full-width2" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width2">
            <input matInput placeholder="Sku Name">
          </mat-form-field>
        </td>
     
        <td>
          <mat-form-field class="example-full-width2">
            <input matInput placeholder="Sku Id">
          </mat-form-field>
        </td>
       
        <td>
          <mat-form-field class="example-full-width2">
            <input matInput placeholder="Sku Price">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width2" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width2">
            <input matInput placeholder="Color">
          </mat-form-field>
        </td>
       
        <td>
          <mat-form-field class="example-full-width2">
            <input matInput placeholder="Memory">
          </mat-form-field>
        </td>
      
        <td>
          <mat-form-field class="example-full-width2">
            <input matInput placeholder="Sku Price">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="button-row">
      <button mat-raised-button color="primary">Save</button>
     
      <button mat-raised-button color="accent" ng-click="clicked()">Cancel</button>
    </div>
  </mat-tab>
  <mat-tab label=" Redeem History ">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign
        </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
      <!-- Active Column -->
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Active
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle (change)="onChange($event)" [(ngModel)]="device[i]" (click)="onActiveHomeboxP(item.homeboxpackage_id)">
          </mat-slide-toggle>
          {{item.active}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>
  <mat-tab label="VOUCHERS">
    VOUCHERS TABLE DISPLAYED HERE
  </mat-tab>
</mat-tab-group>
