/*@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}
.mat-drawer.mat-drawer-side {
  z-index: 2;
  background-color: #673ab7;
  color: whitesmoke;
  opacity: 1;
  width: 250px
 
  
}
.version-info {
  font-size: 8pt;
  float: right;
}

.mat-nav-list a.active {
  text-transform:uppercase; 
 color: white;
  box-shadow: 0 9px 49px 0 rgba(222, 230, 216, 0.609), 0 14px 39px -5px rgba(245, 242, 255, 0.4);
 
}
  .mat-nav-list .mat-list-item .mat-list-item-content:hover{
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    
  
    display: block;
    text-transform:uppercase;  
    text-decoration: none;
    border-radius: 5px;
    
    box-shadow: 0 80px 100px 0 rgba(85, 43, 43, 0.425), 0 7px 10px -5px rgba(244,67,54,.4);
    padding: 10px 12px;
  } 

  .mat-list-item-content
  {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
   
   
  }


  .sidenav
  {

    width:250px;
  }
/* table cell headers*/
  .mat-header-cell {
    
    font-size: 18px;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    color:black
}
/* table products headdings*/

.mat-typography h3 {
  font: 400 16px/28px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 16px;
  font-size: x-large;
  font-style: normal;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  color: #010119c4;
}
 
.table th {

  font-size: 14px;
  font-weight: bold;
  color:black
}

 