.mat-toolbar {
    background: #673ab7;
    color: #fff;
}

.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 24px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
   
}
.mat-dialog-container {
    background: #fff;
    color: rgba(0,0,0,.87);
    margin: 64px -40px 26px 152px;
}



.mat-expansion-panel {
  background: #fff;
  color: rgba(0, 0, 0, .87);
}

.expansionHeader{
  background-color:#dcdcdc;
}

.step-text {
  font-size: 15px;
  font-weight: bold;
}

.card-class {
  width: 100%;
  border: 1px solid lightgray;
  text-align: center;
  margin-right: 20px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
ul,
li {
      margin: 0;
      padding: 0;
      list-style: none;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }



