
    <form>
      <mat-toolbar >
        <div class="md-toolbar-tools" > 
          <h2> Upload CSV</h2>
          <span flex></span>
        
        </div>
      </mat-toolbar>
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
              Upload CSV
              </mat-panel-title>
              <mat-panel-description>
                
              </mat-panel-description>
            </mat-expansion-panel-header>
      <div class="mat-expansion-panel-body">
        <div class="row" style="display:inline-flex;">
          <div class="col-md-6" class="card-class" ng-class="" (click)="onChooseVoucherType('Discount',0)" [ngClass]="{
            'activeProductDetails':voucherTypeSelectedIndex === 0}">
                <mat-icon class="voucher-type-icon ng-scope ng-isolate-scope md-default-theme material-icons">monetization_on</mat-icon>
                <h3 class="voucher-type-header ng-scope">Discount voucher</h3>
                <div class="voucher-type-description ng-scope">
                  <p>Discount coupon - represents one of 3 discount types:
                    <br><b>amount</b> <i class="ng-binding">($10.00 off)</i>, <b>percentage</b> <i>(20% off)</i>, or <b>unit</b> <i>(2 piano lessons)</i>.
                    <br>Redeemable once or multiple times.</p>
                </div>
                <div class="md-ripple-container"></div>
              </div>
              <div class="col-md-6" class="card-class" [ngClass]="{
                'activeProductDetails':voucherTypeSelectedIndex === 1}">
                    <mat-icon class="voucher-type-icon ng-scope ng-isolate-scope md-default-theme material-icons">monetization_on</mat-icon>
                    <h3 class="voucher-type-header ng-scope">Gift voucher</h3>
                    <div class="voucher-type-description ng-scope">
                      <p>Discount coupon - represents one of 3 discount types:
                        <b>amount</b> <i class="ng-binding">($10.00 off)</i>, <b>percentage</b> <i>(20% off)</i>, or <b>unit</b> <i>(2 piano lessons)</i>. Redeemable once or multiple times.</p>
                    </div>
                    <div class="md-ripple-container"></div>
                  </div>
                </div>
               
                <br >
                
                <button mat-button color="warn" (change)="upload($event.target.files)">
                    <mat-icon>file_upload</mat-icon>
                    <br />
              </button>
              <br/>
              <input type="file" (change)="upload($event.target.files)" />
              Upload Percent: {{percentDone}}% <br />
              
              <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container> 
            <!--  <ul>
                    <li *ngFor="let file of files" [@fadeInOut]="file.state">
                          <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                          <span id="file-label">
                          {{file.data.name}} 
                          <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
                          <mat-icon>refresh</mat-icon></a>
                          <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
                          <mat-icon>cancel</mat-icon></a>
                          </span>
                    </li>
              </ul>-->
             
              
     </div>
     
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Select campaign
          </mat-panel-title>
         
        </mat-expansion-panel-header>
    
       
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Campaign">     
               </mat-form-field>
         
       
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Map attributes
          </mat-panel-title>
          <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>
       
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Import summary
          </mat-panel-title>
          <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>
      
      </mat-expansion-panel>
  </mat-accordion>
           </form>
      
           
         
        <!-- <mat-dialog-container aria-modal="true" class="mat-dialog-container ng-tns-c23-17 ng-trigger ng-trigger-slideDialog ng-star-inserted" 
        tabindex="-1" id="mat-dialog-0" 
        role="dialog" style="transform: none; opacity: 1;">
          
      <app-upload _nghost-c24="" class="ng-star-inserted">
          <form _ngcontent-c24="" novalidate="" class="ng-untouched ng-pristine ng-valid">
            <mat-toolbar _ngcontent-c24="" class="mat-toolbar mat-toolbar-single-row">
              <div _ngcontent-c24="" class="md-toolbar-tools">
          <h2 _ngcontent-c24=""> Upload CSV</h2>
          <span _ngcontent-c24="" flex="">

          </span>
        </div>
      </mat-toolbar>
    </form>
  </app-upload>
      </mat-dialog-container> -->
     
  




  
