.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 97%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




.material-icons
{
  margin-left: 20px;
}



.example-full-width
{

    width: 1050px;
}


.example-icon
{
    margin-left: 300px;
    float: left;
    margin: 35px -911px 31px 924px;
}
.mat-raised-button.mat-primary {
    background-color: #673ab7;
    margin-left: 320px;
    margin-top:30px; 
  }
  
.toolbarrow
{
  margin: 40px 10px 80px 0px;

}



.selectwidth1
{
  margin: 10px 20px 20px 10px;
}
.selectwidth2{

  margin: 10px 20px 20px 10px;
}
selectwidth3{
  margin: 10px 20px 20px 10px;
}