<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template> -->

<mat-toolbar color="primary" class="toolbarrow">

 <mat-toolbar-row>
       <i class="material-icons">people</i>

    <span>Customers</span>

    <span class="example-spacer"></span>


<a href="/app-createcustomers">
    <mat-icon class="example-icon" style="color:white;">add_circle</mat-icon>
</a>

<a href="/app-upload ">
  
    <mat-icon class="example-icon" style="color:white;">file_upload</mat-icon>
</a>

   <a>
    <mat-icon class="example-icon" style="color:white;">file_download</mat-icon>
   </a>
  
    

    
   

  </mat-toolbar-row>

  
</mat-toolbar>


<section style="padding: 1px" class="layout-margin">
    <div>
        <mat-form-field class="example-full-width">
      <mat-select placeholder="Select Filters" flex="50">
        <mat-option *ngFor="let lang of Customersdata" [value]="lang ">
    {{lang}}
        </mat-option>
      </mat-select>
    </mat-form-field>
 
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Match All Filters" flex="50">
          <mat-option *ngFor="let lang of CustomersFilters" [value]="lang ">
      {{lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    


    <mat-form-field class="selectwidth1">
      <mat-select placeholder="Select Criteria" disableRipple>
        <mat-option value="1"> Name</mat-option>
        <mat-option value="2">Email</mat-option>
      
        <mat-option value="3">phone</mat-option>
        <mat-option value="4">Created Date</mat-option>
        <mat-option value="4">Postal Code</mat-option>
        <mat-option value="4">City</mat-option>
        <mat-option value="4">Country</mat-option>

        
      </mat-select>
    </mat-form-field>
   
    
    <mat-form-field  class="selectwidth2">
        <mat-select placeholder="Select Condition" disableRipple>
          <mat-option value="1"> is</mat-option>
          <mat-option value="2">is not</mat-option>
        
          <mat-option value="3">has any value</mat-option>
          <mat-option value="4">Created Date</mat-option>
          <mat-option value="4">Starts with</mat-option>
          <mat-option value="4">ends with</mat-option>
          <mat-option value="4">contains</mat-option>
          <mat-option value="4">is unknown</mat-option>

          
        </mat-select>
      </mat-form-field> 
    
  
  
    <mat-form-field  class="selectwidth3">
        <input matInput placeholder="Enter Value" value="">
      </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary">Add Filters</button>
      <button mat-raised-button color="primary">Clear</button>

    </div>
    
    </section>
    
  
    
<app-customerstable></app-customerstable>